<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YARRAA</title>
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="src/css/owl.carousel.css" rel="stylesheet">
    <link href="src/css/jquery.mCustomScrollbar.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,400italic,600,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/Ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="src/css/app.css" rel="stylesheet">
    <link href="src/css/login.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top-scroll" ng-app="yaraaApp">
  	<!--/.preloader-->
  	<div id="preloader">
      <div id="status">&nbsp;</div>
    </div>
    
     <div id="notofyModal" class="modal">
		    <div class="modal-content">
		      <div class="alert alert-success" id=alertMessage role="alert">      		
		      		<span id="alertDesc" style="padding:12px">Success message</span>      		
		      		<div class="modal-footer">
		      			<a href="#!" eat-click class=" modal-action modal-close waves-effect waves-green btn-flat">{{"CLOSE"|translate}}</a>
		    		</div>
		      </div>
		    </div>
		  </div>
    
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top-scroll navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/"><img src="img/yarraa-logo.png" class="yarraa-logo"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        	<form class="navbar-form navbar-right hidden-xs">
            <button type="button" class="btn btn-default btn-signup" id="signupTrigger">{{"SIGN_UP"|translate}}</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="" scroll-to="aboutYarraa">{{"ABOUT_YARRAA"|translate}}</a></li>
            <li><a href="#keyservices">{{"KEY_SERVICES"|translate}}</a></li>
            <li><a href="">{{"NEWS"|translate}}</a></li>
            <li><a href="#FAQs">{{"FAQ"|translate}}</a></li>
            <li><a href="#contactus">{{"CONTACT"|translate}}</a></li>
            <li><a href="" id="loginTrigger">{{"LOGIN"|translate}}</a></li>
          </ul>
          <form class="navbar-form navbar-right visible-xs">
            <button type="button" class="btn btn-default btn-signup">{{"SIGN_UP"|translate}}</button>
          </form>
        </div>
      </div>
    </nav>
   		
   			<div ng-view></div>
      
      <footer class="footer">
      	<section class="quick-links">
        	<div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-6 quick-links-inner">
                <h5>{{"QUICK_LINKS"|translate}}</h5>
                <div class="col-md-3 col-sm-6">
                	<h6>{{"COMPANY"|translate}}</h6>
                  <ul class="list-unstyled">
                  	<li><a href="#/">{{"HOME"|translate}}</a></li>
                    <li><a href="" scroll-to="aboutYarraa">{{"ABOUT_YARRAA"|translate}}</a></li>
		            <li><a href="#keyservices">{{"KEY_SERVICES"|translate}}</a></li>
		            <li><a href="">{{"NEWS"|translate}}</a></li>
                    <li><a href="#FAQs">{{"FAQ"|translate}}</a></li>
                    <li><a href="#contactus">{{"CONTACT_US"|translate}}</a></li>
                  </ul>
                </div>
                <div class="col-md-4 col-sm-6">
                	<h6>{{"BUSINESS_USERS"|translate}}</h6>
                  <ul class="list-unstyled">
                  	<li><a href="javascript:void(0);" id="retaillersTrigger">{{"RETAILERS"|translate}}</a></li>
                    <li><a href="javascript:void(0);" id="collectionpTrigger">{{"COLLECTION_POINTS"|translate}}</a></li>
                    <li><a href="javascript:void(0);" id="DistributorsTrigger">{{"DISTRIBUTORS"|translate}}</a></li>
          					<li><a href="javascript:void(0);" id="ServicecTrigger">{{"SERVICE_CENTERS"|translate}}</a></li>
          					<li><a href="javascript:void(0);" id="ManufacturersTrigger">{{"MANUFACTURERS"|translate}}</a></li>
          					<li><a href="javascript:void(0);" id="RecyclersTrigger">{{"RECYCLERS"|translate}}</a></li>
          					<li><a href="http://yarraa.com/advertisement.html">{{"ADVERTISE"|translate}}</a></li>
          					<li><a href="javascript:void(0);" >{{"APPLIANCES_INSURANCE"|translate}} </a></li>
                    <li><a href="javascript:void(0);" >{{"IT_PRODUCTS_INSURANC"|translate}}</a></li>
                  </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                	<h6>{{"USING_THIS_SITE"|translate}}</h6>
                  <ul class="list-unstyled">
                    <li><a href="#termsandcondition">{{"USER_AGREEMENT"|translate}}</a></li>
                    <li><a href="#privacypolicy">{{"PRIVACY_POLICY"|translate}}</a></li>
                    <li><a href="#copyright">{{"COPYRIGHT_POLICY"|translate}}</a></li>
                  </ul>
                </div>
                <div class="col-md-2 col-sm-6" ng-controller="LanguageSelect" style="padding-right:0;">			
                	<h6>{{"LANGUAGE"|translate}}</h6>
                  <ul class="list-unstyled">                  	
                    <li><a href="" class="chn-flg">中文</a></li>
                    <li><a href="" class="de-flg" >Deutsche</a></li>
                    <li><a href="" class="jpn-flg" ng-click="changeLanguage('jp')">日本語</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 social-links">
                <h5>{{"SOCIAL"|translate}}</h5>
                <div class="col-md-12">
                	<h6>{{"FIND_US_ON"|translate}}</h6>
                	<ul class="list-inline">
                  	<li><a href="" class="y-ico y-fb"></a></li>
                    <li><a href="" class="y-ico y-in"></a></li>
                    <li><a href="" class="y-ico y-ln"></a></li>
                    <li><a href="" class="y-ico y-tw"></a></li>
                    <li><a href="" class="y-ico y-gp"></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 yarraa-app">
              	<h5>Yarraa App</h5>
                <div class="col-md-12">
                	<ul class="list-unstyled">
                  	<li><a href="" class="btn-store btn-apple-store"></a></li>
          					<li><a href="" class="btn-store btn-google-store"></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div><!--/.container-fluid-->
        </section>
        
        <section class="payment-methods">
        	<div class="container">
          	<div class="row">
              <div class="col-md-12">
              	<ul class="list-inline">
                	<li><a href="https://usa.visa.com/" target="_blank"><img src="img/pm-visa.png" alt="Visa Card"></a></li>
                  <li><a href="https://www.mastercard.us/" target="_blank"><img src="img/pm-master-card.png" alt="Master Card"></a></li>
                  <li><a href="https://www.americanexpress.com/sg/" target="_blank"><img src="img/pm-ae.png" alt="American Express"></a></li>
                  <li><a href="http://www.jsbbank.com/" target="_blank"><img src="img/pm-jcb.png" alt="JCB"></a></li>
                  <li><a href="https://www.paypal.com/" target="_blank"><img src="img/pm-paypal.png" alt="Paypal"></a></li>
                </ul>
              	<ul class="list-inline">
                	<li><a href="https://www.netrust.net" target="_blank"><img src="img/security.png" alt="Secured by Net trust"></a></li>
                </ul>
              	<ul class="list-inline">
                  <li><a href="http://www.nea.gov.sg/energy-waste/3rs/waste-minimisation-and-recycling" target="_blank"><img src="img/rrr.png" alt="Reuse Reduce Recycle"></a></li>
                </ul>
              	<ul class="list-inline">
                	<li><a href="http://www.spring.gov.sg/Growing-Business/Grant/development-areas/Pages/technology-innovation.aspx" target="_blank"><img src="img/technology-innovation.png" alt="Technology innovation program award from"></a></li>
                  <li><a href="http://www.spring.gov.sg/" target="_blank"><img src="img/spring-singapore.png" alt="Spring Singapore"></a></li>
                  <li><a href="https://www.ida.gov.sg/" target="_blank"><img src="img/ida.png" alt="ida"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        
        <section class="copy-rights">
        	<div class="container">
        		<p>Copyright <i class="fa fa-copyright"></i> 2015 Yarraa<i class="fa fa-registered"></i> Inc. All Rights Reserved</p>
          </div>
        </section>
      </footer>
      
		</div><!--/.wrapper-->
    
<!--LOGIN POPUP/MODAL -->
<div class="modal loginModal fade" id="loginModal" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" ng-controller="LoginCtrl" name="login">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
    <!--<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    	<h4 class="modal-title" id="myModalLabel">Yarraa Login</h4>
    </div>-->
      <div class="modal-body">
        <button type="button" title="Close" class="closeButton" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="hide">{{"CLOSE"|translate}}</span>
        </button>
        <div id="yarraa-login" class="yarraa-login">
          <div class="login-content">
            <div class="login-form">
              <div class="login-form-header" align="center">
                <img src="img/signuplogo.jpg" class="img-responsive" alt="yarraa">
              </div>
              <form class="login-form-main" data-toggle="validator" role="form" name="loginForm" id="loginForm">
                <div class="form-group">
                  <input type="email" class="form-control" id="email" placeholder='{{"EMAIL"|translate}}' ng-model="newUser.email" required>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="password" placeholder='{{"PASSWORD"|translate}}' ng-model="newUser.pwd"  required>
                </div>		
                <div class="row">
                  <div class="col-xs-6">
                    <button class="btn btn-default btn-block" ng-click="login()"><i class="fa fa-check"></i> {{"SIGN_IN"|translate}}</button>
                </div>
                 <div class="col-xs-6" style="padding-top:10px; color:#5b3d19">
                  | &nbsp;&nbsp;<i class="fa fa-unlock-alt"></i>
                    <a class="login-form-reset" id="forgetpass" href="">{{"FORGOT_PASSWORD?"|translate}}</a>
                   </div>
                </div>
              </form>
              <div class="login-form-footer" style="padding:1rem; padding-top:0;">
                <h3 align="center" style="padding-top:0; padding-bottom:15px;">{{"DO_YOU_WANT_TO_CREAT"|translate}}</h3>
                <div class="row">
                  <div class="col-xs-6">
                    <button type="submit" class="btn btn-default btn-block signupTriggers"><i class="fa fa-user"></i> {{"SIGN_UP_AS_CONSUMER"|translate}}</button>
                  </div>
                  <div class="col-xs-6" align="right">
                    <button type="submit" class="btn btn-default btn-block signupTriggers"><i class="fa fa-group"></i> {{"SIGN_UP_AS_CORPORATE"|translate}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
<!--LOGIN POPUP/MODAL -->
<div class="modal loginModal fade" id="forgetModal" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" ng-controller="LoginCtrl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
    <!--<div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Yarraa Login</h4>
    </div>-->
      <div class="modal-body">
        <button type="button" title="Close" class="closeButton" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="hide">{{"CLOSE"|translate}}</span>
        </button>
        <div id="yarraa-login" class="yarraa-login">
          <div class="login-content">
            <div class="login-form">
              <div class="login-form-header" align="center">
                <img src="img/signuplogo.jpg" class="img-responsive" alt="yarraa">
              </div>

              <form class="login-form-main" data-toggle="validator" role="form">
                <div class="form-group">
                  <p>{{"TO_RESET"|translate}} :</p>
                  <input type="email" class="form-control" id="email" placeholder='{{"EMAIL"|translate}}' required ng-model="newUser.email">
                </div>
                 
                <div class="row">
                  <div class="col-xs-6">
                    <button type="submit" class="btn btn-default btn-block" ng-click="forgotPassword()"><i class="fa fa-check"></i> {{"SUBMIT"|translate}}</button>
                </div>
                 <div class="col-xs-6" style="padding-top:10px; color:#5b3d19">
                  | &nbsp;&nbsp;<i class="fa fa-unlock-alt"></i>
                    <a class="login-form-reset" id="cancelForget" href="#/">{{"CANCEL"|translate}}</a>
                   </div>
                </div>
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 


<!-- Signup Modal -->
<div ng-controller="SignupCtrl" name="signup" ng-init="init()" class="modal signupModal fade" id="signupModal" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
    <!--<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    	<h4 class="modal-title" id="myModalLabel">Yarraa Login</h4>
    </div>-->
      <div class="modal-body">
        <button type="button" title="Close" class="closeButton" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="hide">{{"CLOSE"|translate}}</span>
        </button>
        <div class="row">
          <div class="col-xs-6">
            <div class="login-form-header" align="left" style="padding-top:0; padding-bottom:2rem">
              <img src="img/signuplogo.jpg" class="img-responsive" alt="yarraa">
            </div>
            <div><img src="img/cartimg.jpg"></img></div>
          </div>
          <div class="col-xs-6">
            <div id="yarraa-login" class="yarraa-login">
              <div class="login-content">
                <div class="login-form">
                 
                  <form class="login-form-main" data-toggle="validator" role="form" style="text-align:center;" name="signupForm" id="signupForm">
                     <h5 style="color:#5b3d19">Create your Yarraa account and start</h6>
                  <h4 style="color:#5b3d19; font-weight:bold;">managing all devices in 1 place!</h3>
                    <div class="form-group">
                      <input type="text" class="form-control" id="name" placeholder='{{"NAME"|translate}}' ng-model="newUser.first_name" required>
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" id="email" placeholder='{{"EMAIL"|translate}}' ng-model="newUser.email" required>
                    </div>
                    <div class="form-group">
                      <input type="number" ng-pattern="onlyNumbers" class="form-control" name="telephone" id="telephone" 
                      		placeholder='{{"TELEPHONE"|translate}}'  ng-model="newUser.telephone" required>
                    </div>
                    <div class="form-group">
                      <select class="form-control" ng-model="newUser.country_code">
                      	<option disabled="disabled" selected value="">{{"COUNTRY"|translate}}</option>
                      	<option ng-repeat="option in countries" value="{{option.code}}">{{option.name}}</option>
                      </select>
                    </div>
                    <button class="btn btn-default btn-block" ng-click="saveRegistration()"><i class="fa fa-check"></i> {{"SIGN_UP_NOW"|translate}}</button>
                    
                  </form>
                 <div align="center"> <a href="javascript:void(0);" >{{"CREATE_COMP_ACC"|translate}}</a></div>
                 <div align="center">   <a href="javascript:void(0);"  class="loginTriggerClass">{{"ALREADY_HAVE_ACCOUNT"|translate}}</a></div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div> 
  <!--  Signup Modal -->  
    
    
<!--LOGIN POPUP/MODAL -->
<div class="modal loginModal fade" id="ServicecModal" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width:1000px">
    <div class="modal-content">
      
    <!--<div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Yarraa Login</h4>
    </div>-->
      <div class="modal-body">
        <button type="button" title="Close" class="closeButton" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="hide">{{"CLOSE"|translate}}</span>
        </button>
        <div id="yarraa-login" class="yarraa-login">
          <div class="login-content">
            <h3>{{"SERVICE_CENTERS"|translate}}</h3>
             <ul class="nav nav-tabs" id="myTab">
              <li class="active"><a data-target="#homeS" data-toggle="tab">{{"CASE_ROUTING"|translate}}</a></li>
              <li><a data-target="#profileS" data-toggle="tab">{{"MONITOR_SUPPLY_LEVEL"|translate}}</a></li>
              <li><a data-target="#messagesS" data-toggle="tab">{{"LET_CONSUMERS_FIND_Y"|translate}}</a></li>
              <li><a data-target="#settingsS" data-toggle="tab">{{"BRIDGE_COMMUNICATION"|translate}}</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="homeS">
                <p>{{"YARRAA_CAN_TELL_YOU_"|translate}}
                </p>
              </div>
              <div class="tab-pane" id="profileS">
                <p>{{"WITH_YARRAA_YOUR_TE"|translate}}</p>
              </div>
              <div class="tab-pane" id="messagesS"><p>{{"WHEN_YOU_USE_YARRAA"|translate}}
              </p></div>
              <div class="tab-pane" id="settingsS"><p>{{"IF_YOU_SERVICE_MORE_"|translate}} </p></div>
            </div>

            <p style="margin-top:15px;"><a href="http://yarraa.com/images/preloaderServiceCenter.swf?width=640&height=480"><i class="glyphicon glyphicon-menu-right"></i> {{"VIEW_OUR_BROCHURE"|translate}}</a></p>
            <div class="panel panel-danger">
                <div class="panel-heading">{{"EXPLORE_YARRAA_THRO"|translate}}</div>
                <div class="panel-body">
                  <a href="http://www.youtube.com/watch?v=cetAJurtwF4" rel="prettyPhoto[videos]" style="position:relative"><span class="mask">&nbsp;</span><img class="illus" src="img/illus_video_service-center_01.gif" alt="" style="opacity: 1;"></a>
                  
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 


<!--LOGIN POPUP/MODAL -->
<div class="modal loginModal fade" id="ManufacturersModal" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width:1000px">
    <div class="modal-content">
      
    <!--<div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Yarraa Login</h4>
    </div>-->
      <div class="modal-body">
        <button type="button" title="Close" class="closeButton" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="hide">{{"CLOSE"|translate}}</span>
        </button>
        <div id="yarraa-login" class="yarraa-login">
          <div class="login-content">
            <h3>{{"MANUFACTURERS"|translate}}</h3>
             <ul class="nav nav-tabs" id="myTab">
              <li class="active"><a data-target="#home3" data-toggle="tab">{{"MONITOR_AND_FIX_MANU"|translate}}</a></li>
              <li><a data-target="#profile3" data-toggle="tab">{{"STOP_FRAUDULENT_RETU"|translate}}</a></li>
              <li><a data-target="#messages3" data-toggle="tab">{{"ADDITIONAL_REVENUE_S"|translate}}</a></li>
              <li><a data-target="#settings3" data-toggle="tab">{{"CONTACT_YOUR_END-USE"|translate}}</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="home3">
                <p>{{"WITH_YARRAA,_YOU_CAN"|translate}}
                </p>
              </div>
              <div class="tab-pane" id="profile3">
                <p>{{"WHEN_YOUR_END_USERS_"|translate}}</p>
              </div>
              <div class="tab-pane" id="messages3"><p>{{"YARRAA_OFFERS_NUMERO"|translate}}
              </p></div>
              <div class="tab-pane" id="settings3"><p>{{"NO_MATTER_HOW_FAR_FL"|translate}}</p></div>
            </div>

            <p style="margin-top:15px;"><a href="http://yarraa.com/images/preloaderManufacturer.swf?width=640&height=480"><i class="glyphicon glyphicon-menu-right"></i> {{"VIEW_OUR_BROCHURE"|translate}}</a></p>
            <div class="panel panel-danger">
                <div class="panel-heading">{{"EXPLORE_YARRAA_THRO"|translate}}</div>
                <div class="panel-body">
                  <a href="https://www.youtube.com/watch?v=YX4y_F2ynp4" rel="prettyPhoto[videos]" style="position:relative"><span class="mask">&nbsp;</span><img class="illus" src="img/illus_video_manufacturer_01.gif" alt="" style="opacity: 1;"></a>
                  
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 


<!--LOGIN POPUP/MODAL -->
<div class="modal loginModal fade" id="RecyclersModal" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width:1000px">
    <div class="modal-content">
      
    <!--<div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Yarraa Login</h4>
    </div>-->
      <div class="modal-body">
        <button type="button" title="Close" class="closeButton" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="hide">{{"CLOSE"|translate}}</span>
        </button>
        <div id="yarraa-login" class="yarraa-login">
          <div class="login-content">
            <h3>{{"RECYCLERS"|translate}}</h3>
             <ul class="nav nav-tabs" id="myTab">
              <li class="active"><a data-target="#home7" data-toggle="tab">{{"SHIPPING_SOLUTIONS"|translate}}</a></li>
              <li><a data-target="#profile7" data-toggle="tab">{{"GLOBAL_REACH"|translate}}</a></li>
              <li><a data-target="#messages7" data-toggle="tab">{{"PARTNERSHIP"|translate}}</a></li>
              <li><a data-target="#settings7" data-toggle="tab">{{"UNIVERSAL"|translate}}</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="home7">
                <p>{{"IF_YOU_OR_YOUR_CLIENTS"|translate}}
                </p>
              </div>
              <div class="tab-pane" id="profile7">
                <p>{{"LET_POTENTIAL_CLIENTS"|translate}}</p>
              </div>
              <div class="tab-pane" id="messages7"><p>{{"WITH_YARRAA_YOU_CAN"|translate}}
              </p></div>
              <div class="tab-pane" id="settings7"><p>{{"IF_YOU_RECYCLE_DIFFE"|translate}}</p></div>
            </div>
<br/>
           
            <div class="panel panel-danger">
                <div class="panel-heading">{{"EXPLORE_YARRAA_THRO"|translate}}</div>
                <div class="panel-body">
                  <a href="http://www.youtube.com/watch?v=nU-WQ2sTdg8" rel="prettyPhoto[videos]" style="position:relative"><span class="mask">&nbsp;</span><img class="illus" src="img/illus_video_02.gif" alt="" style="opacity: 1;"></a>
                  
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 

<!--LOGIN POPUP/MODAL -->
<div class="modal loginModal fade" id="retaillersModal" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width:1000px">
    <div class="modal-content">
      
    <!--<div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Yarraa Login</h4>
    </div>-->
      <div class="modal-body">
        <button type="button" title="Close" class="closeButton" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="hide">{{"CLOSE"|translate}}</span>
        </button>
        <div id="yarraa-login" class="yarraa-login">
          <div class="login-content">
            <h3>{{"RETAILERS"|translate}}</h3>
             <ul class="nav nav-tabs" id="myTab">
              <li class="active"><a data-target="#homeR" data-toggle="tab">{{"ALWAYS_AVAILABLE"|translate}}</a></li>
              <li><a data-target="#profileR" data-toggle="tab">{{"MANAGE_OPEN_CASES"|translate}}</a></li>
              <li><a data-target="#messagesR" data-toggle="tab">{{"CUSTOMER_LOYALTY"|translate}}</a></li>
              <li><a data-target="#settingsR" data-toggle="tab">{{"UNIVERSAL"|translate}}</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="homeR">
                <p>{{"CREATE_AS_MANY_USERN"|translate}}
                </p>
              </div>
              <div class="tab-pane" id="profileR">
                <p>{{"NEED_TO_KNOW_THE_HIS"|translate}}</p>
              </div>
              <div class="tab-pane" id="messagesR"><p>{{"CREATE_STRONGER_RELA"|translate}}
              </p></div>
              <div class="tab-pane" id="settingsR"><p>{{"NO_MATTER_HOW_MANY_D"|translate}}</p></div>
            </div>

            <p style="margin-top:15px;"><a href="http://yarraa.com/images/preloaderRetailer.swf?width=640&height=480"><i class="glyphicon glyphicon-menu-right"></i> {{"VIEW_OUR_BROCHURE"|translate}}</a></p>
            <div class="panel panel-danger">
                <div class="panel-heading">{{"EXPLORE_YARRAA_THRO"|translate}}</div>
                <div class="panel-body">
                  <a href="http://www.youtube.com/watch?v=nU-WQ2sTdg8" rel="prettyPhoto[videos]" style="position:relative"><span class="mask">&nbsp;</span><img class="illus" src="img/illus_video_retailer_01.gif" alt="" style="opacity: 1;"></a>
                  <a href="http://www.youtube.com/watch?v=PsFEW2NFCjY" rel="prettyPhoto[videos]" style="position:relative"><span class="mask">&nbsp;</span><img class="illus" src="img/illus_video_retailer_02.gif" alt="" style="opacity: 1;"></a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 

<!--LOGIN POPUP/MODAL -->
<div class="modal loginModal fade" id="DistributorsModal" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width:1000px">
    <div class="modal-content">
      
    <!--<div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Yarraa Login</h4>
    </div>-->
      <div class="modal-body">
        <button type="button" title="Close" class="closeButton" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="hide">{{"CLOSE"|translate}}</span>
        </button>
        <div id="yarraa-login" class="yarraa-login">
          <div class="login-content">
            <h3>{{"DISTRIBUTORS"|translate}}</h3>
             <ul class="nav nav-tabs" id="myTab">
              <li class="active"><a data-target="#home2" data-toggle="tab">{{"SAVE_ON_SHIPPING_COS"|translate}}</a></li>
              <li><a data-target="#profile2" data-toggle="tab">{{"STAY_IN_TOUCH_WITH_E"|translate}}</a></li>
              <li><a data-target="#messages2" data-toggle="tab">{{"KNOW_WHATS_COMING_"|translate}}</a></li>
              <li><a data-target="#settings2" data-toggle="tab">{{"PRODUCT_HISTORIES"|translate}}</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="home2">
                <p>{{"STREAMLINING_THE_REV"|translate}}</p>
              </div>
              <div class="tab-pane" id="profile2">
                <p>{{"DO_YOU_MANAGE_BRANDS"|translate}}</p>
              </div>
              <div class="tab-pane" id="messages2"><p>{{"IF_YOU_REGULARLY_REC"|translate}}
              </p></div>
              <div class="tab-pane" id="settings2"><p>{{"WHEN_YOU_RECEIVE_A_R"|translate}}</p></div>
            </div>
            <p style="margin-top:15px;"><a href="http://yarraa.com/images/preloaderDistributor.swf?width=640&height=480"><i class="glyphicon glyphicon-menu-right"></i> {{"VIEW_OUR_BROCHURE"|translate}}</a></p>
            <div class="panel panel-danger">
                <div class="panel-heading">{{"EXPLORE_YARRAA_THRO"|translate}}</div>
                <div class="panel-body">
                  <a href="http://www.youtube.com/watch?v=UM2cx9bR_aA" rel="prettyPhoto[videos]" style="position:relative"><span class="mask">&nbsp;</span><img class="illus" src="img/illus_video_distributor_01.gif" alt="" style="opacity: 1;"></a>
                  
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 

<!--LOGIN POPUP/MODAL -->
<div class="modal loginModal fade" id="collectionpModal" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width:1000px">
    <div class="modal-content">
      
    <!--<div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Yarraa Login</h4>
    </div>-->
      <div class="modal-body">
        <button type="button" title="Close" class="closeButton" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="hide">{{"CLOSE"|translate}}</span>
        </button>
        <div id="yarraa-login" class="yarraa-login">
          <div class="login-content">
            <h3>{{"COLLECTION_POINTS"|translate}}</h3>
             <ul class="nav nav-tabs" id="myTab">
              <li class="active"><a data-target="#home1" data-toggle="tab">{{"KNOW_WHATS_COMING_"|translate}}</a></li>
              <li><a data-target="#profile1" data-toggle="tab">{{"MANAGE_OPEN_CASES"|translate}}</a></li>
              <li><a data-target="#messages1" data-toggle="tab">{{"CUSTOMER_LOYALTY"|translate}}</a></li>
              <li><a data-target="#settings1" data-toggle="tab">{{"UNIVERSAL"|translate}}</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="home1">
                <p>{{"IF_YOU_REGULARLY_REC"|translate}}
                </p>
              </div>
              <div class="tab-pane" id="profile1">
                <p>{{"IF_YOU_HAVE_TO_DEAL_"|translate}}</p>
              </div>
              <div class="tab-pane" id="messages1"><p>{{"CREATE_STRONGER_RELA"|translate}}
              </p></div>
              <div class="tab-pane" id="settings1"><p>{{"NO_MATTER_HOW_MANY_D"|translate}}</p></div>
            </div>
            <br/>
            <div class="panel panel-danger">
                <div class="panel-heading">{{"EXPLORE_YARRAA_THRO"|translate}}</div>
                <div class="panel-body">
                  <a href="http://www.youtube.com/watch?v=nU-WQ2sTdg8" rel="prettyPhoto[videos]" style="position:relative"><span class="mask">&nbsp;</span><img class="illus" src="img/illus_video_02.gif" alt="" style="opacity: 1;"></a>
                  
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
		<script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="src/js/SmoothScroll.js"></script>
    <script src="src/js/jquery.mCustomScrollbar.js"></script>
    <script src="src/js/owl.carousel.js"></script>
    
    <script src="src/js/app.js"></script>

    <script type="text/javascript" src="js/angular.js"></script>
            <script type="text/javascript" src="js/angular-route.js"></script>
            <script type="text/javascript" src="js/angular-cookies.js"></script>
            <script type="text/javascript" src="js/angular-resource.js"></script>
            
            <script type="text/javascript" src="js/materialize.js"></script>
            <script type="text/javascript" src="js/jquery.datetimepicker.full.js"></script>
            
             <script type="text/javascript" src="js/custom/controllers/mainController.js"></script>
             
               <script type="text/javascript" src="js/angular-translate.js"></script>
            
            <script src="js/translator/angular-translate-loader-static-files.js"></script>
			<script src="js/translator/angular-translate-storage-cookie.js"></script>
			<script src="js/translator/angular-translate-storage-local.js"></script>
			<script src="js/translator/angular-translate-handler-log.js"></script>
			
			<script src="js/translator/tmhDynamicLocale.js"></script>
			
			<script type="text/javascript" src="js/custom/translationConfig.js"></script>
			<script type="text/javascript" src="js/custom/controllers/LanguageCtrl.js"></script>
			
            <script type="text/javascript" src="js/custom/routing/home-router.js"></script>
            
            <script type="text/javascript" src="js/custom/controllers/LoginCtrl.js"></script>
            <script type="text/javascript" src="js/custom/controllers/SignupCtrl.js"></script>
    
  </body>
</html>