<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>yarraa</display-name>
  <filter>
    <display-name>ProxyFilter</display-name>
    <filter-name>ProxyFilter</filter-name>
    <filter-class>proxy.ProxyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ProxyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>default</servlet-name>
    <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>listings</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>readonly</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ProxyServlet</display-name>
    <servlet-name>ProxyServlet</servlet-name>
    <servlet-class>proxy.ProxyServlet</servlet-class>
    <init-param>
      <param-name>readonly</param-name>
      <param-value>false</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProxyServlet</servlet-name>
    <url-pattern>/ProxyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProxyServlet</servlet-name>
    <url-pattern>/api/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileListServlet</display-name>
    <servlet-name>FileListServlet</servlet-name>
    <servlet-class>com.yarraa.services.FileListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileListServlet</servlet-name>
    <url-pattern>/files/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatisticsServlet</display-name>
    <servlet-name>StatisticsServlet</servlet-name>
    <servlet-class>com.yarraa.services.Statistics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatisticsServlet</servlet-name>
    <url-pattern>/stats</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WarrantyUpload</display-name>
    <servlet-name>WarrantyUpload</servlet-name>
    <servlet-class>com.yarraa.services.WarrantyUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WarrantyUpload</servlet-name>
    <url-pattern>/warrantyUpload</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>ProductUpload</display-name>
    <servlet-name>ProductUpload</servlet-name>
    <servlet-class>com.yarraa.services.B2CUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductUpload</servlet-name>
    <url-pattern>/productUpload</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PaymentGateway</display-name>
    <servlet-name>PaymentGateway</servlet-name>
    <servlet-class>com.yarraa.services.PaymentGateway</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentGateway</servlet-name>
    <url-pattern>/PaymentGateway</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentSuccess</display-name>
    <servlet-name>PaymentSuccess</servlet-name>
    <servlet-class>com.yarraa.services.PaymentSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentSuccess</servlet-name>
    <url-pattern>/PaymentSuccess</url-pattern>
  </servlet-mapping>
  
  <resource-ref>
      <description>DB Connection</description>
      <res-ref-name>jdbc/yarraaDB</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>
  
</web-app>