<header class="header2">
    </header>
    <div class="wrapper">
      <section class="about-yarraa">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>{{"FAQS"|translate}}</h2>
               <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#consumer" aria-controls="consumer" role="tab" data-toggle="tab" eat-click>{{"CONSUMER"|translate}}</a></li>
                  <li role="presentation"><a href="#corporate" aria-controls="corporate" role="tab" data-toggle="tab" eat-click>{{"CORPORATE"|translate}}</a></li>
                 
                </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="consumer" >
<h3>{{"FAQ_1"|translate}}</h3>
<p>{{"FAQ_ANS_1"|translate}}</p>

<h3>{{"FAQ_2"|translate}}</h3>
<p>{{"FAQ_ANS_2"|translate}}</p>

<h3>{{"FAQ_3"|translate}}</h3>
<p>{{"FAQ_ANS_3"|translate}}</p>

<h3>{{"FAQ_4"|translate}}</h3>
<p>{{"FAQ_ANS_4"|translate}}</p>

<h3>{{"FAQ_5"|translate}}</h3>
<p>{{"FAQ_ANS_5"|translate}}</p>

<h3>{{"FAQ_6"|translate}}</h3>
<p>{{"FAQ_ANS_6"|translate}}</p>

<h3>{{"FAQ_7"|translate}}</h3>
<p>{{"FAQ_ANS_7"|translate}}</p>

<h3>{{"FAQ_8"|translate}}</h3>
<p>{{"FAQ_ANS_8"|translate}}</p>

<h3>{{"FAQ_9"|translate}}</h3>
<p>{{"FAQ_ANS_9"|translate}}</p>

<h3>{{"FAQ_10"|translate}}</h3>
<p>{{"FAQ_ANS_10"|translate}}</p>

<h3>{{"FAQ_11"|translate}}</h3>
<p>{{"FAQ_ANS_11"|translate}}</p>

<h3>{{"FAQ_12"|translate}}</h3>
<p>{{"FAQ_ANS_12"|translate}}</p>

<h3>{{"FAQ_13"|translate}}</h3>
<p>{{"FAQ_ANS_13"|translate}}</p>

<h3>{{"FAQ_14"|translate}}</h3>
<p>{{"FAQ_ANS_14"|translate}}</p>

<h3>{{"FAQ_15"|translate}}</h3>
<p>{{"FAQ_ANS_15"|translate}}</p>


                </div>
                <div role="tabpanel" class="tab-pane fade" id="corporate">
                  <div class="col-md-2">
                      <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" class="active"><a href="#Retailers" aria-controls="Retailers" role="tab" data-toggle="tab" eat-click>{{"RETAILERS"|translate}}</a></li>
                        <li role="presentation"><a href="#servivecenters" aria-controls="servivecenters" role="tab" data-toggle="tab" eat-click>{{"SERVICE_CENTERS"|translate}}</a></li>
                        <li role="presentation"><a href="#Distributors" aria-controls="Distributors" role="tab" data-toggle="tab" eat-click>{{"DISTRIBUTORS"|translate}}</a></li>
                      </ul>
                      </div>
                      <div class="col-md-10">
 <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="Retailers">
		<h3>{{"RETAIL_FAQ_1"|translate}}</h3>
		<p>{{"RETAIL_FAQ_ANS_1"|translate}}</p>
		
		<h3>{{"RETAIL_FAQ_2"|translate}}</h3>
		<p>{{"RETAIL_FAQ_ANS_2"|translate}}</p>
		
		<h3>{{"RETAIL_FAQ_3"|translate}}</h3>
		<p>{{"RETAIL_FAQ_ANS_3"|translate}}</p>
		
		<h3>{{"RETAIL_FAQ_4"|translate}}</h3>
		<p>{{"RETAIL_FAQ_ANS_4"|translate}}</p>
		
		<h3>{{"RETAIL_FAQ_5"|translate}}</h3>
		<p>{{"RETAIL_FAQ_ANS_5"|translate}}</p>
		
		<h3>{{"RETAIL_FAQ_6"|translate}}</h3>
		<p>{{"RETAIL_FAQ_ANS_6"|translate}}</p>
		
		<h3>{{"RETAIL_FAQ_7"|translate}}</h3>
		<p>{{"RETAIL_FAQ_ANS_7"|translate}}</p>
		
		<h3>{{"RETAIL_FAQ_8"|translate}}</h3>
		<p>{{"RETAIL_FAQ_ANS_8"|translate}}</p>
		
		<h3>{{"RETAIL_FAQ_9"|translate}}</h3>
		<p>{{"RETAIL_FAQ_ANS_9"|translate}}</p>
		
		<h3>{{"RETAIL_FAQ_10"|translate}}</h3>
		<p>{{"RETAIL_FAQ_ANS_10"|translate}}</p>
		
		<h3>{{"RETAIL_FAQ_11"|translate}}</h3>
		<p>{{"RETAIL_FAQ_ANS_11"|translate}}</p>
		
		<h3>{{"RETAIL_FAQ_12"|translate}}</h3>
		<p>{{"RETAIL_FAQ_ANS_12"|translate}}</p>
		
		<h3>{{"RETAIL_FAQ_13"|translate}}</h3>
		<p>{{"RETAIL_FAQ_ANS_13"|translate}}</p>
		
		<h3>{{"RETAIL_FAQ_14"|translate}}</h3>
		<p>{{"RETAIL_FAQ_ANS_14"|translate}}</p>
		
		<h3>{{"RETAIL_FAQ_15"|translate}}</h3>
		<p>{{"RETAIL_FAQ_ANS_15"|translate}}</p>
    </div>
    <div role="tabpanel" class="tab-pane" id="servivecenters">
      		<h3>{{"SERVICE_FAQ_1"|translate}}</h3>
			<p>{{"SERVICE_FAQ_ANS_1"|translate}}</p>
			
			<h3>{{"SERVICE_FAQ_2"|translate}}</h3>
			<p>{{"SERVICE_FAQ_ANS_2"|translate}}</p>
			
			<h3>{{"SERVICE_FAQ_3"|translate}}</h3>
			<p>{{"SERVICE_FAQ_ANS_3"|translate}}</p>
			
			<h3>{{"SERVICE_FAQ_4"|translate}}</h3>
			<p>{{"SERVICE_FAQ_ANS_4"|translate}}</p>
			
			<h3>{{"SERVICE_FAQ_5"|translate}}</h3>
			<p>{{"SERVICE_FAQ_ANS_5"|translate}}</p>
			
			<h3>{{"SERVICE_FAQ_6"|translate}}</h3>
			<p>{{"SERVICE_FAQ_ANS_6"|translate}}</p>
			
			<h3>{{"SERVICE_FAQ_7"|translate}}</h3>
			<p>{{"SERVICE_FAQ_ANS_7"|translate}}</p>
			
			<h3>{{"SERVICE_FAQ_8"|translate}}</h3>
			<p>{{"SERVICE_FAQ_ANS_8"|translate}}</p>
			
			<h3>{{"SERVICE_FAQ_9"|translate}}</h3>
			<p>{{"SERVICE_FAQ_ANS_9"|translate}}</p>
			
			<h3>{{"SERVICE_FAQ_10"|translate}}</h3>
			<p>{{"SERVICE_FAQ_ANS_10"|translate}}</p>
			
			<h3>{{"SERVICE_FAQ_11"|translate}}</h3>
			<p>{{"SERVICE_FAQ_ANS_11"|translate}}</p>
			
			<h3>{{"SERVICE_FAQ_12"|translate}}</h3>
			<p>{{"SERVICE_FAQ_ANS_12"|translate}}</p>
			
			<h3>{{"SERVICE_FAQ_13"|translate}}</h3>
			<p>{{"SERVICE_FAQ_ANS_13"|translate}}</p>
			
			<h3>{{"SERVICE_FAQ_14"|translate}}</h3>
			<p>{{"SERVICE_FAQ_ANS_14"|translate}}</p>
			
			<h3>{{"SERVICE_FAQ_15"|translate}}</h3>
			<p>{{"SERVICE_FAQ_ANS_15"|translate}}</p>
      </div>
    <div role="tabpanel" class="tab-pane" id="Distributors">
     	<h3>{{"DISTRIBUTOR_FAQ_1"|translate}}</h3>
		<p>{{"DISTRIBUTOR_FAQ_ANS_1"|translate}}</p>
		
		<h3>{{"DISTRIBUTOR_FAQ_2"|translate}}</h3>
		<p>{{"DISTRIBUTOR_FAQ_ANS_2"|translate}}</p>
		
		<h3>{{"DISTRIBUTOR_FAQ_3"|translate}}</h3>
		<p>{{"DISTRIBUTOR_FAQ_ANS_3"|translate}}</p>
		
		<h3>{{"DISTRIBUTOR_FAQ_4"|translate}}</h3>
		<p>{{"DISTRIBUTOR_FAQ_ANS_4"|translate}}</p>
		
		<h3>{{"DISTRIBUTOR_FAQ_5"|translate}}</h3>
		<p>{{"DISTRIBUTOR_FAQ_ANS_5"|translate}}</p>
		
		<h3>{{"DISTRIBUTOR_FAQ_6"|translate}}</h3>
		<p>{{"DISTRIBUTOR_FAQ_ANS_6"|translate}}</p>
		
		<h3>{{"DISTRIBUTOR_FAQ_7"|translate}}</h3>
		<p>{{"DISTRIBUTOR_FAQ_ANS_7"|translate}}</p>
		
		<h3>{{"DISTRIBUTOR_FAQ_8"|translate}}</h3>
		<p>{{"DISTRIBUTOR_FAQ_ANS_8"|translate}}</p>
		
		<h3>{{"DISTRIBUTOR_FAQ_9"|translate}}</h3>
		<p>{{"DISTRIBUTOR_FAQ_ANS_9"|translate}}</p>
		
		<h3>{{"DISTRIBUTOR_FAQ_10"|translate}}</h3>
		<p>{{"DISTRIBUTOR_FAQ_ANS_10"|translate}}</p>
		
		<h3>{{"DISTRIBUTOR_FAQ_11"|translate}}</h3>
		<p>{{"DISTRIBUTOR_FAQ_ANS_11"|translate}}</p>
		
		<h3>{{"DISTRIBUTOR_FAQ_12"|translate}}</h3>
		<p>{{"DISTRIBUTOR_FAQ_ANS_12"|translate}}</p>
		
		<h3>{{"DISTRIBUTOR_FAQ_13"|translate}}</h3>
		<p>{{"DISTRIBUTOR_FAQ_ANS_13"|translate}}</p>
		
		<h3>{{"DISTRIBUTOR_FAQ_14"|translate}}</h3>
		<p>{{"DISTRIBUTOR_FAQ_ANS_14"|translate}}</p>
		
		<h3>{{"DISTRIBUTOR_FAQ_15"|translate}}</h3>
		<p>{{"DISTRIBUTOR_FAQ_ANS_15"|translate}}</p>
</div>
  </div></div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </section>
      
      
      </div>
      
<script>
 $(document).ready(function(){
	 $('html, body').animate({ scrollTop: 0 }, 'slow');
 });
 </script>
      	