<header class="header2">
    	
    </header>
    <div class="wrapper">
      <section class="about-yarraa">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>{{"KEY_SERVICES"|translate}}</h2>
               <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#consumer" eat-click aria-controls="consumer" role="tab" data-toggle="tab">{{"CONSUMER"|translate}}</a></li>
                  <li role="presentation"><a href="#corporate" eat-click aria-controls="corporate" role="tab" data-toggle="tab">{{"CORPORATE"|translate}}</a></li>
                  
                </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="consumer">
<h3>{{"CONSUMERS"|translate}}</h3>
<p>{{"KEY_SERVICES_CONSUMER"|translate}}</p>
<div class="video-player"><div class="video"><object width="100%" height="100%" data="http://www.youtube.com/v/w4Q6P7Ar3RU" type="application/x-shockwave-flash"><param name="movie" value="http://www.youtube.com/v/w4Q6P7Ar3RU"><param name="allowfullscreen" value="true"><param name="allowscriptaccess" value="always"><param name="quality" value="high"><param name="cachebusting" value="false"></object></div>
            <dl class="videos">
              <dd><a href="http://www.youtube.com/v/w4Q6P7Ar3RU"><span class="mask">&nbsp;</span><img class="illus" src="img/illus_video_consumer_04.gif" alt=""></a></dd>
              <dd><a href="http://www.youtube.com/v/5_uy1kmRaAU"><span class="mask">&nbsp;</span><img class="illus" src="img/illus_video_consumer_05.gif" alt=""></a></dd>
              <dd><a href="http://www.youtube.com/v/-nGg-ynjJ_A"><span class="mask">&nbsp;</span><img class="illus" src="img/illus_video_consumer_01.gif" alt=""></a></dd>
              <dd><a href="http://www.youtube.com/v/TiyZMcrIRYc"><span class="mask">&nbsp;</span><img class="illus" src="img/illus_video_consumer_02.gif" alt=""></a></dd>
              <dd><a href="http://www.youtube.com/v/PSNqdJN7F_c"><span class="mask">&nbsp;</span><img class="illus" src="img/illus_video_consumer_03.gif" alt=""></a></dd>
            </dl>
          </div>
<h3>{{"WHAT_AFTER_PURCHASE"|translate}}</h3>
<h3>{{"MANAGE_YOUR_WARRANTIES"|translate}}</h3>
<div class="row">
  <div class="col-md-2">
<img src="img/illus_consumers_01.gif" class="responsive"/>
</div>
<div class="col-md-10" style="verticle-align:middle">
<ul >
<li>{{"MANAGE_YOUR_WARRANTIES_1"|translate}}</li>
<li>{{"MANAGE_YOUR_WARRANTIES_2"|translate}}</li>
<li>{{"MANAGE_YOUR_WARRANTIES_3"|translate}}</li>
</ul>
</div>
</div>
<h3>{{"NEED_REPAIRS?"|translate}}</h3>
<div class="row">
  <div class="col-md-2">
<img src="img/illus_consumers_02.gif" class="responsive"/>
</div>
<div class="col-md-10" style="verticle-align:middle">
<ul >
<li>{{"NEED_REPAIRS_1"|translate}}
</li>
<li>{{"NEED_REPAIRS_2"|translate}}</li>
</ul>
</div>
</div>

<h3>{{"POST-PURCHASE_SOLUTIONS"|translate}}</h3>
<div class="row">
  <div class="col-md-2">
<img src="img/illus_consumers_03.jpg" class="responsive"/>
</div>
<div class="col-md-10" style="verticle-align:middle">
<ul >
<li>{{"POST-PURCHASE_SOLUTIONS_1"|translate}}
</li>
<li>{{"POST-PURCHASE_SOLUTIONS_2"|translate}}</li>
</ul>
</div>
</div>

                </div>
                <div role="tabpanel" class="tab-pane row fade" id="corporate">
                  <div class="col-md-2">
                      <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" class="active"><a href="#Retailers" eat-click aria-controls="Retailers" role="tab" data-toggle="tab">{{"RETAILERS"|translate}}</a></li>
                        <li role="presentation"><a href="#servivecenters" eat-click eat-click aria-controls="servivecenters" role="tab" data-toggle="tab">{{"SERVICE_CENTERS"|translate}}</a></li>
                        <li role="presentation"><a href="#Distributors" eat-click aria-controls="Distributors" role="tab" data-toggle="tab">{{"DISTRIBUTORS"|translate}}</a></li>
                        <li role="presentation"><a href="#Manufacturers" eat-click aria-controls="Manufacturers" role="tab" data-toggle="tab">{{"MANUFACTURERS"|translate}}</a></li>
                        <li role="presentation"><a href="#Recyclers" eat-click aria-controls="Recyclers" role="tab" data-toggle="tab">{{"RECYCLERS"|translate}}</a></li>
                      </ul>
                      </div>
                      <div class="col-md-10">
 <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="Retailers">
<h3>{{"RETAILERS"|translate}}</h3>
<p>{{"KEY_SERVICE_RETAILERS"|translate}}</p>
<div class="video-player"><div class="video"><object width="100%" height="100%" data="http://www.youtube.com/v/nU-WQ2sTdg8" type="application/x-shockwave-flash"><param name="movie" value="http://www.youtube.com/v/nU-WQ2sTdg8"><param name="allowfullscreen" value="true"><param name="allowscriptaccess" value="always"><param name="quality" value="high"><param name="cachebusting" value="false"></object></div>
                <dl class="videos">
                  <dd><a href="http://www.youtube.com/v/nU-WQ2sTdg8"><span class="mask">&nbsp;</span><img class="illus" src="img/illus_video_retailer_01.gif" alt=""></a></dd>
                  <dd><a href="http://www.youtube.com/v/PsFEW2NFCjY"><span class="mask">&nbsp;</span><img class="illus" src="img/illus_video_retailer_02.gif" alt=""></a></dd>
                </dl>
              </div>
        <h3>{{"REPAIRS?_WARRANTIES?"|translate}}</h3>
        <div class="row">
          <div class="col-md-2">
        <img src="img/illus_custrelationship_05.gif" class="responsive"/>
        </div>
        <div class="col-md-10" style="verticle-align:middle">
        <ul >
        <li>{{"REPAIRS?_WARRANTIES?_1"|translate}}</li>
        <li>{{"REPAIRS?_WARRANTIES?_2"|translate}}</li>
        <li>{{"REPAIRS?_WARRANTIES?_3"|translate}}</li>
        <li>{{"REPAIRS?_WARRANTIES?_4"|translate}}</li>
        </ul>
        </div>
        </div>
        <h3>{{"MANAGE_ALL_YOUR_INVENTORY"|translate}}</h3>
        <div class="row">
          <div class="col-md-2">
        <img src="img/illus_inventory_01.jpg" class="responsive"/>
        </div>
        <div class="col-md-10" style="verticle-align:middle">
        <ul>
        <li>{{"MANAGE_ALL_YOUR_INVENTORY_1"|translate}}</li>
        <li>{{"MANAGE_ALL_YOUR_INVENTORY_2"|translate}}</li>
        <li>{{"MANAGE_ALL_YOUR_INVENTORY_3"|translate}}</li>
        </ul>
        </div>
        </div>
        <h3>{{"IMPROVE_CUSTOMER_SERVICE"|translate}}</h3>
    </div>
    <div role="tabpanel" class="tab-pane" id="servivecenters">
      <h3>{{"SERVICE_CENTERS"|translate}}</h3>
      <p>{{"KEY_SERVICE_SERVICE_CENTER_1"|translate}}</p>
      <div class="video-player"><div class="video"><object width="100%" height="100%" data="http://www.youtube.com/v/cetAJurtwF4" type="application/x-shockwave-flash"><param name="movie" value="http://www.youtube.com/v/cetAJurtwF4"><param name="allowfullscreen" value="true"><param name="allowscriptaccess" value="always"><param name="quality" value="high"><param name="cachebusting" value="false"></object></div>
                <dl class="videos">
                  <dd><a href="http://www.youtube.com/v/cetAJurtwF4"><span class="mask">&nbsp;</span><img class="illus" src="img/illus_video_service-center_01.gif" alt=""></a></dd>
                </dl>
              </div>
              <h3>{{"KEY_SERVICE_SERVICE_CENTER_2"|translate}}</h3>
              <div class="row">
          <div class="col-md-2">
        <img src="img/illus_commission_01.jpg" class="responsive"/>
        </div>
        <div class="col-md-10" style="verticle-align:middle">
        <ul>
        <li>{{"KEY_SERVICE_SERVICE_CENTER_3"|translate}}</li>
        <li>{{"KEY_SERVICE_SERVICE_CENTER_4"|translate}}</li>
        <li>{{"KEY_SERVICE_SERVICE_CENTER_5"|translate}}</li>
        </ul>
        </div>
        </div>
        <h3>{{"KEY_SERVICE_SERVICE_CENTER_6"|translate}}</h3>
              <div class="row">
          <div class="col-md-2">
        <img src="img/illus_tools_01.gif" class="responsive"/>
        </div>
        <div class="col-md-10" style="verticle-align:middle">
        <ul>
        <li>{{"KEY_SERVICE_SERVICE_CENTER_7"|translate}}</li>
        <li>{{"KEY_SERVICE_SERVICE_CENTER_8"|translate}}</li>
        <li>{{"KEY_SERVICE_SERVICE_CENTER_9"|translate}}</li>
        </ul>
        </div>
        </div>
        <p>{{"KEY_SERVICE_SERVICE_CENTER_10"|translate}}</p>
        <h3>{{"KEY_SERVICE_SERVICE_CENTER_11"|translate}}</h3>
        <p>{{"KEY_SERVICE_SERVICE_CENTER_12"|translate}}</p>
    </div>
    <div role="tabpanel" class="tab-pane" id="Distributors">
      <h3>{{"DISTRIBUTORS"|translate}}</h3>
      <p>{{"KEY_SERVICE_DISTRIBUTOR_1"|translate}}</p>
      <div class="video-player"><div class="video"><object width="100%" height="100%" data="http://www.youtube.com/v/UM2cx9bR_aA" type="application/x-shockwave-flash"><param name="movie" value="http://www.youtube.com/v/UM2cx9bR_aA"><param name="allowfullscreen" value="true"><param name="allowscriptaccess" value="always"><param name="quality" value="high"><param name="cachebusting" value="false"></object></div>
                <dl class="videos">
                  <dd><a href="http://www.youtube.com/v/UM2cx9bR_aA"><span class="mask">&nbsp;</span><img class="illus" src="img/illus_video_distributor_01.gif" alt=""></a></dd>
                </dl>
              </div>
              <h3>{{"KEY_SERVICE_DISTRIBUTOR_2"|translate}}</h3>
              <div class="row">
          <div class="col-md-2">
        <img src="img/illus_shipping_03.gif" class="responsive"/>
        </div>
        <div class="col-md-10" style="verticle-align:middle">
        <ul>
        <li>{{"KEY_SERVICE_DISTRIBUTOR_3"|translate}}</li>
        <li>{{"KEY_SERVICE_DISTRIBUTOR_4"|translate}}</li>
        <li>{{"KEY_SERVICE_DISTRIBUTOR_5"|translate}}</li>
        </ul>
        </div>
        </div>
        <h3>{{"KEY_SERVICE_DISTRIBUTOR_6"|translate}}</h3>
              <div class="row">
          <div class="col-md-2">
        <img src="img/illus_inventory_02.jpg" class="responsive"/>
        </div>
        <div class="col-md-10" style="verticle-align:middle">
        <ul>
        <li>{{"KEY_SERVICE_DISTRIBUTOR_7"|translate}}</li>
        <li>{{"KEY_SERVICE_DISTRIBUTOR_8"|translate}}</li>
        </ul>
        </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="Manufacturers">
      <h3>{{"MANUFACTURERS"|translate}}</h3>
      <p>{{"KEY_SERVICE_MANUFACTURERS_1"|translate}}</p>
      <div class="video-player"><div class="video"><object width="100%" height="100%" data="http://www.youtube.com/v/YX4y_F2ynp4" type="application/x-shockwave-flash"><param name="movie" value="http://www.youtube.com/v/YX4y_F2ynp4"><param name="allowfullscreen" value="true"><param name="allowscriptaccess" value="always"><param name="quality" value="high"><param name="cachebusting" value="false"></object></div>
                <dl class="videos">
                  <dd><a href="http://www.youtube.com/v/YX4y_F2ynp4"><span class="mask">&nbsp;</span><img class="illus" src="img/illus_video_manufacturer_01.gif" alt=""></a></dd>
                </dl>
              </div>
              <h3>{{"KEY_SERVICE_MANUFACTURERS_2"|translate}}</h3>
              <div class="row">
          <div class="col-md-2">
        <img src="img/illus_product_04.jpg" class="responsive"/>
        </div>
        <div class="col-md-10" style="verticle-align:middle">
        <ul>
        <li>{{"KEY_SERVICE_MANUFACTURERS_3"|translate}}</li>
        <li>{{"KEY_SERVICE_MANUFACTURERS_4"|translate}}</li>
        <li>{{"KEY_SERVICE_MANUFACTURERS_5"|translate}}</li>
        </ul>
        </div>
        </div>
        <h3>{{"KEY_SERVICE_MANUFACTURERS_6"|translate}}</h3>
              <div class="row">
          <div class="col-md-2">
        <img src="img/illus_custrelationship_06.jpg" class="responsive"/>
        </div>
        <div class="col-md-10" style="verticle-align:middle">
        <ul>
        <li>{{"KEY_SERVICE_MANUFACTURERS_7"|translate}}</li>
        <li>{{"KEY_SERVICE_MANUFACTURERS_8"|translate}}</li>
        </ul>
        
        </div>
        </div>
        <p>{{"KEY_SERVICE_MANUFACTURERS_9"|translate}}</p>
      </div>
      <div role="tabpanel" class="tab-pane" id="Recyclers">
      <h3>{{"RECYCLERS"|translate}}</h3>
      <p>{{"KEY_SERVICE_RECYCLERS_1"|translate}}</p>
      <div class="video-player"><div class="video"><object width="100%" height="100%" data="http://www.youtube.com/v/nU-WQ2sTdg8" type="application/x-shockwave-flash"><param name="movie" value="http://www.youtube.com/v/nU-WQ2sTdg8"><param name="allowfullscreen" value="true"><param name="allowscriptaccess" value="always"><param name="quality" value="high"><param name="cachebusting" value="false"></object></div>
                <dl class="videos">
                  <dd><a href="http://www.youtube.com/v/nU-WQ2sTdg8"><span class="mask">&nbsp;</span><img class="illus" src="img/illus_video_02.gif" alt=""></a></dd>
                </dl>
              </div>
              <h3>{{"KEY_SERVICE_RECYCLERS_2"|translate}}</h3>
              <div class="row">
          <div class="col-md-2">
        <img src="img/illus_recycling_01.gif" class="responsive"/>
        </div>
        <div class="col-md-10" style="verticle-align:middle">
        <ul>
        <li>{{"KEY_SERVICE_RECYCLERS_3"|translate}}</li>
        <li>{{"KEY_SERVICE_RECYCLERS_4"|translate}}</li>
        <li>{{"KEY_SERVICE_RECYCLERS_5"|translate}}</li>
        <li>{{"KEY_SERVICE_RECYCLERS_6"|translate}}</li>
        </ul>
        </div>
        </div>
        <h3>{{"KEY_SERVICE_RECYCLERS_7"|translate}}</h3>
              <div class="row">
          <div class="col-md-2">
        <img src="img/illus_partnership_11.jpg" class="responsive"/>
        </div>
        <div class="col-md-10" style="verticle-align:middle">
        <ul>
        <li>{{"KEY_SERVICE_RECYCLERS_8"|translate}}</li>
        <li>{{"KEY_SERVICE_RECYCLERS_9"|translate}}</li>
        </ul>
        
        </div>
        </div>
        <p>{{"KEY_SERVICE_RECYCLERS_10"|translate}}</p>
      </div>
  </div></div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </section>
      </div>