<header class="header2">
    	
    </header>
    <div class="wrapper">
      <section class="about-yarraa">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h3>{{"INFORMATION_USE"|translate}}</h3>

				<h3>{{"PRIVACY_POLICY_1"|translate}}</h3>
				<p>{{"PRIVACY_POLICY_ANS_1"|translate}}</p>
				
				<h3>{{"PRIVACY_POLICY_2"|translate}}</h3>
				<p>{{"PRIVACY_POLICY_ANS_2"|translate}}</p>
				
				<h3>{{"PRIVACY_POLICY_3"|translate}}</h3>
				<p>{{"PRIVACY_POLICY_ANS_3"|translate}}</p>
				
				<h3>{{"PRIVACY_POLICY_4"|translate}}</h3>
				<p>{{"PRIVACY_POLICY_ANS_4"|translate}}</p>
				
				<h3>{{"PRIVACY_POLICY_5"|translate}}</h3>
				<p>{{"PRIVACY_POLICY_ANS_5"|translate}}</p>
				
				<h3>{{"PRIVACY_POLICY_6"|translate}}</h3>
				<p>{{"PRIVACY_POLICY_ANS_6"|translate}}</p>
				
				<h3>{{"PRIVACY_POLICY_7"|translate}}</h3>
				<p>{{"PRIVACY_POLICY_ANS_7"|translate}}</p>
				
				<h3>{{"PRIVACY_POLICY_8"|translate}}</h3>
				<p>{{"PRIVACY_POLICY_ANS_8"|translate}}</p>
				
				<h3>{{"PRIVACY_POLICY_9"|translate}}</h3>
				<p>{{"PRIVACY_POLICY_ANS_9"|translate}}</p>
				
				<h3>{{"PRIVACY_POLICY_10"|translate}}</h3>
				<p>{{"PRIVACY_POLICY_ANS_10"|translate}}</p>
				
				<h3>{{"PRIVACY_POLICY_11"|translate}}</h3>
				<p>{{"PRIVACY_POLICY_ANS_11"|translate}}</p>
				
				<h3>{{"PRIVACY_POLICY_12"|translate}}</h3>
				<p>{{"PRIVACY_POLICY_ANS_12"|translate}}</p>
				
				<h3>{{"PRIVACY_POLICY_13"|translate}}</h3>
				<p>{{"PRIVACY_POLICY_ANS_13"|translate}}</p>
				
				<h3>{{"PRIVACY_POLICY_14"|translate}}</h3>
				<p>{{"PRIVACY_POLICY_ANS_14"|translate}}</p>
				
				<h3>{{"PRIVACY_POLICY_15"|translate}}</h3>
				<p>{{"PRIVACY_POLICY_ANS_15"|translate}}</p>
				
				<h3>{{"PRIVACY_POLICY_16"|translate}}</h3>
				<p>{{"PRIVACY_POLICY_ANS_16"|translate}}</p>
				
				<h3>{{"PRIVACY_POLICY_17"|translate}}</h3>
				<p>{{"PRIVACY_POLICY_ANS_17"|translate}}</p>
				
				<h3>{{"PRIVACY_POLICY_18"|translate}}</h3>
				<p>{{"PRIVACY_POLICY_ANS_18"|translate}}</p>
				
				<h3>{{"PRIVACY_POLICY_19"|translate}}</h3>
				<p>{{"PRIVACY_POLICY_ANS_19"|translate}}</p>

            </div>
          </div>
        </div>
      </section>
      </div>